langchain
langchain-core
langchain_community
langchain-text-splitters

langchain-openai
openai

langchain-anthropic
langchain_ollama
langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub
torch
torchvision
sentence-transformers

python-dotenv

numpy
scikit-learn

streamlit

pydantic

bs4
nbformat